/* Style the demo section */
#demos {
  text-align: center;
  margin-top: 20px;
}

#multiCamView {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Webcam feed container */
#multiCamView div:not(.coords) {
  position: relative;
}

video {
  border: 2px solid #ddd;
  border-radius: 5px;
}

/* Canvas overlay for drawing landmarks */
#canvas1, #canvas2 {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  pointer-events: none;
}

/* Styling for 3D coordinates and point display */
#point24Display1, #point24Display2 {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: monospace;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
}

/* Style for the button to toggle webcam */
#webcamButton {
background-color: rgb(9, 180, 9);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; 
  transition: background-color 0.3s;
  z-index: 2;
  position: absolute;
  top: 50px;     /* distancia desde arriba */
  left: 20px;   /* distancia desde la derecha */
  width: 300px;
  height: 50px;
}

#webcamButton:hover {
  background-color: green;
}

/* Styling for the 3D coordinates output */
#stereoXYZ {
  font-family: monospace;
  font-size: 16px;
  color: #333;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

div.coords {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #222;
    color: #eee;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
}

#canva3{
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  max-height: 1080px;
  max-width: 1920px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
